# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Executáveis (Windows e Linux)
*.exe
programa
*.out

# Arquivos de objeto e compilação
*.o
*.obj

# Banco de dados local
sistema.db
*.db-journal